
<footer class="cta-section" style="padding-top:20px;background:#555559;color:white;">
	<div class="container" style="padding-bottom:0;">
		<div class="row">
			<div class="col-lg-3 offset1 span2">
				<h3 class="middle">
					<a href="http://wot.io">
					<img src="/static/img/wotio-logo.png">
					</a>
					<small style="font-size:10px;"> (c) 2010-2015</small>
				</h3>
			</div>

			<div class="col-lg-3 span2 offset1">
				<strong>
					<a style="color:white" href="http://blog.bip.io">Blog</a><br>
					<a style="color:white" href="https://github.com/bipio-server/bipio">Open Source</a><br>
					<a style="color:white" href="https://github.com/bipio-server/bipio/wiki">Developers</a><br>

					<a style="color:white" href="/docs/pods">Supported Services</a>
				</strong>
			</div>

			<div class="col-lg-3 span2">
				<strong>
					<a style="color:white" href="/status">Network Status</a><br>
					<a style="color:white" href="/terms-of-service">Terms Of Service</a><br>
					<a style="color:white" href="/privacy">Privacy Policy</a><br>
					<!-- a style="color:white" href="/licensing">Commercial Licensing</a><br/ -->
				</strong>
			</div>

			<div class="col-lg-3 span2 offset1" style="font-size:2em;height:80px;padding-top: 20px;">
				<a style="color:white" href="mailto:support@shipiot.net">
					<i class="icon-envelope"></i>
				</a>
				<a style="color:white" href="https://twitter.com/Wotio">
					<i class="icon-twitter"></i>
				</a>
				<a style="color:white" href="https://github.com/bipio-server">
					<i class="icon-github"></i>
				</a>
				<a style="color:white" href="https://www.facebook.com/pages/Wotio">
					<i class="icon-facebook"></i>
				</a>
				<a style="color:white" href="https://www.linkedin.com/company/5213170">
					<i class="icon-linkedin"></i>
				</a>
			</div>

		</div>
		<div class="row middle">
			<h5><small>
				The wot.io name and logo, the bip.io name and logo, and data service exchange are trademarks of WoT.io, Inc. All other company or product names, brands, trademarks, and logos on this site are the property of their respective owners. The companies listed are not affiliated with wot.io and they do not endorse or sponsor the products or services of wot.io. See our Legal Notices at <a style="color:white" target="_blank" href="http://wot.io/legal-notices">wot.io/legal</a>
				</small>
			</h5>
		</div>
	</div>
</footer>
</body>
