<head>
	<meta charset="UTF-8" />
	<title>Documentation | {{host}}</title>
	<link rel="shortcut icon" href="/static/img/shipiot/favicon.ico" />

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{#if absolute_root}}/{{absolute_root}}{{/if}}/styles/styles.css">
</head>
<body>
