<!doctype html>
<html lang="en">
{{> header }}
	<div class="container">
		<div class="row markdown-body">
			<div class="col-lg-8 content">
				{{{contents}}}
			</div>

			<div class="col-lg-4 sidebar">
				{{> sidebar}}
			</div>
		</div>
	</div>
{{> footer }}
</html>
